@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
    text-align: center;
    font-weight: bold;
    font-family: "Kumbh", sans-serif;
}

.container{
    width: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}